.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_container {
  padding: 2rem 0 6rem;
}

.footer_title,
.footer_link {
  color: var(--title-color);
}

.footer_title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer_link:hover {
  color: var(--title-color-dark);
}

.footer_list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer_social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer_social-icon {
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  font-size: 1.125rem;
  padding: 0.4rem;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer_social-icon:hover {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  transform: scale(1.1);
}

body.dark-theme .footer_social-icon {
  background-color: hsl(0, 0%, 30%);
}

body.dark-theme .footer_social-icon:hover {
  background-color: hsl(0, 0%, 50%);
}

.footer_copy {
  display: block;
  margin-top: 4rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .footer_social-icon {
    padding: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 480px) {
  .footer_social-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}